/* Global Styling */
body {
    background: #3b5d50;
    /* background: #f6f5f7; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
}

/* Form Container Styling */
.forgot-password-container,
.new-password-container,
.verification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

/* Box Styling */
.forgot-password-box,
.new-password-box,
.verification-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

/* Heading Styling */
.forgot-password-box h2,
.new-password-box h2,
.verification-box h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 800;
}

/* Paragraph Styling */
.forgot-password-box p,
.new-password-box p,
.verification-box p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0;
    color: #777;
}

/* Input Styling */
input {
    background-color: #eee;
    border: none;
    padding: 12px 20px; /* Increased right padding */
    margin: 8px 0;
    width: calc(100% - 20px); /* Adjust width to account for padding */
    border-radius: 20px;
    font-size: 14px;
}

/* Button Styling */
button {
    border-radius: 20px;
    border: 1px solid #3b5d50;
    background-color: #3b5d50;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: #2a4736;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

#message {
    margin-top: 10px;
    color: #d9534f;
}
