body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}


.cart a {
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.cart i {
    font-size: 32px; 
    position: relative; 
    color: #333; 
}

#cart-count {
    font-size: 14px; 
    color: #fff; 
    background-color: red; 
    border-radius: 50%; 
    padding: 2px 6px; 
    position: absolute; 
    top: -10px; 
    right: -10px; 
}


#product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.card h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.card p {
    color: #555;
}

img, h3, p {
    text-align: center;
}


.button-container {
    display: flex; 
    gap: 10px;
    justify-content: center; 
    width: 100%; 
}

.add-to-cart-btn, .detail-btn {
    font-size: 16px;
    background-color: transparent; 
    border: 2px solid; 
    border-radius: 2px; 
    width: 45%; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-to-cart-btn {
    color: #28a745; 
    border-color: #28a745;
}

.detail-btn {
    color: #fd7e14; 
    border-color: #fd7e14; 
}

.add-to-cart-btn:hover {
    background-color: #28a745;
    color: #fff;
}

.detail-btn:hover {
    background-color: #fd7e14;
    color: #fff;
}


/* Pastikan container mengatur elemen dalam grid */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-item {
    flex: 1 1 calc(33.333% - 1rem); /* 3 kolom pada ukuran layar besar */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-thumbnail {
    width: 100%; /* Mengatur lebar gambar sesuai container */
    height: auto;
}
